
<div
  class="otp-container {{setting.wrapperClass}}"
  id="c_{{componentKey}}"
  *ngIf="otpForm?.controls"
  [ngStyle]="setting.wrapperStyles"
>
  <input    [type]="setting.numbersOnly ? 'password' : 'password'"
    numberOnly 
    [disabledNumberOnly]="!setting.numbersOnly"
    [ngStyle]="setting.inputStyles"
    maxlength="1"  
    class="otp-input {{setting.inputClass}}"
    autocomplete="off"
    *ngFor="let item of otpForm?.controls | keys; let i = index"
    [formControl]="otpForm.controls[item]"
    id="otp_{{i}}_{{componentKey}}"
    (keyup)="keyUp($event, i)" >
  />
  <ng-container
    counter
    [counter]="setting.timer"
    (value)="onCounterChange($event)"
  >
    <div style="margin-top: 8px;">      

      <button
        class="btn {{setting.btnClass}}" mat-raised-button color="primary" id="button" class="btn btn-primary" (click)="submitOtp()">Submit
      </button>&nbsp;
      <!-- <button  id="button" mat-raised-button color="warn" 
        class="btn {{setting.btnClass}}"
        [disabled]="counter != 0"
        (click)="ressendOtp()"
      >
        Resend OTP <span *ngIf="counter != 0" style="color:white">in {{ counter }} seconds.</span>
      </button> -->
       <button  id="button" mat-raised-button color="warn"       
        (click)="backToLogin()"
      >
        Back<span *ngIf="counter != 0" style="color:white"></span>
      </button>
    </div>
  </ng-container>
  
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color:green;font-size: 16px;">The request is being processed, kindly wait a few seconds. </p>  
 </ngx-spinner> 
</div>
