<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>
        CEBG Tracker
      </mat-card-title>     
      
      <mat-card-title>
        <img src="assets/img/fcmb logo.png" style="width:70px" alt="">
      </mat-card-title>
      </mat-card-header>  
        <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="userName" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
                Invalid Username
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
                Invalid Password
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <!-- <button mat-stroked-button color="accent" class="btn-block">Sign-in</button> -->
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Login</button>
      </form>
    </mat-card>
  
  </div>