<h4 style="margin-top: 10px;text-align: center;">Committer List Page</h4>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success" class="alert alert-success">{{success}}</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Search Page">
</mat-form-field>
<br>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Name</b> </th>
      <td mat-cell *matCellDef="let row">{{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Email</b> </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>     
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <section class="example-section">
    <!-- <button mat-raised-button color="primary" (click)="updateAll()">Update</button>&nbsp;&nbsp;&nbsp; -->
    <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
  </section>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color:green;font-size: 16px;">The request is being processed, kindly wait a few seconds. </p>  
</ngx-spinner> 
<!-- </form> -->
